<div style="background-color:rgba(19, 18, 18, 0.979)">
    <app-header></app-header>
    <div fxLayout="row wrap" fxLayout.xs="column"   style="margin-left: 7px; margin-top: 5px;" >
        <div class= "dashboard" *ngFor="let x of movie | paginate: { itemsPerPage: count, currentPage: p }" fxFlex="20%">
        <mat-card class="example-card"  >
        
        <mat-card-content  style="margin-left:28px ;">
          <img src="https://image.tmdb.org/t/p/w185/{{x.poster_path}}"><br>
          <span style="color:white;">Title :{{x.original_title}}</span><br>
          <span style="color:white;">Orignal Language: {{x.original_language}} </span><br>
          
          <button class="btn-secondary" *ngIf="isLoggedIn" (click)="searchMovieBasedOnId(x.id)"><i class="fa fa-heart"></i> Favourite</button>
        </mat-card-content> 
        </mat-card>
        </div>
       
      </div>
      <div class="gray-box">
        <div id="mySidenav" class="sidenav">
          <a id="fav" (click)="callFavComp()">FavMovies</a>
          <a id="trd" (click)="navigateToTreandingMovies()" >Trending Movies</a>
          <a id="top" (click)="navigateToTopRatedMovies()" >TopRated Movies</a>
        </div> 
         </div>
      <footer>
        <pagination-controls (pageChange)="p = $event" style="margin-left: 600px ;"></pagination-controls>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>       
          <li><a href="#">Contact Us</a></li>
        </ul>
        <img src="./assets/popcorn.png" alt="img" style="width: 3%; margin-left: 40px; "> 
            <br><div class="footer-copyright">
                <p>Copyright @ 2022 All Rights Reserved.</p>
            </div>
      </footer>
    </div>

